/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
#menu{
  text-align: center;
}
ul{
  list-style-type: none;
}
#menu li {
  display: inline;
  margin: 2vh;
} 
.del {
  background: rgba(249, 110, 110, 0.75);
}

.submit {
  background: rgba(0, 98, 255, 0.81);
  color: white;
}

table {
  border-spacing: 3vh !important;
  border-collapse: separate !important;
}

.tool-button {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background: rgb(80, 150, 208);
}

table{
  margin: auto;
}
/*    --------------------------------------------------
	:: Modal preview
	-------------------------------------------------- */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



